/* Estilo para a navegação */
nav {
  background-color: #003f5c;
  padding: 15px 20px;
}
.home-container nav.hidden {
  display: none;
}
/* Estilo da lista */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* Estilo para os itens da lista */
li {
  margin-right: 20px;
}

.logout {
  margin-left: auto;
}

/* Estilo dos links */
a {
  color: #e7a528;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* Estilo para o conteúdo */
.content {
  padding: 20px;
  background-color: #003f5c;
  flex-grow: 1;
  overflow: auto;
}
/* Responsividade */
@media (max-width: 600px) {
  ul {
    flex-direction: column;
  }

  li {
    margin-bottom: 10px;
  }

  .logout {
    margin-left: 0;
  }
}

